In [21]:
#Creating a dictionary

car ={'color' : 'red',
      'speed' : 400,
      'mileage': 20
    }

In [2]:
car

{'color': 'red', 'speed': 400, 'mileage': 20}

In [6]:
#Accessing elements of a dictionary

car['speed']

400

## Adding elements to a dictionary

In [22]:
car['horsepower'] = 350

In [8]:
car

{'color': 'red', 'speed': 400, 'mileage': 20, 'horsepower': 350}

In [9]:
#Empty dictionary
car = {}

In [10]:
car

{}

## Modifying values in a dictionary

In [14]:
car

{'color': 'red', 'speed': 400, 'mileage': 20, 'horsepower': 350}

In [15]:
car['speed'] = 350

In [16]:
car

{'color': 'red', 'speed': 350, 'mileage': 20, 'horsepower': 350}

## Deleting key-value pairs

In [17]:
car

{'color': 'red', 'speed': 350, 'mileage': 20, 'horsepower': 350}

In [18]:
#del keyword
del car['mileage']

In [19]:
car

{'color': 'red', 'speed': 350, 'horsepower': 350}

In [23]:
#pop method
speed = car.pop('speed')

In [24]:
speed

400

In [25]:
car

{'color': 'red', 'mileage': 20, 'horsepower': 350}

## Looping through a dictionary

In [26]:
#keys
for key in car:
    print(key)

color
mileage
horsepower

In [28]:
#values

for values in car.values():
    print(values)

red
20
350

In [32]:
#print keys and values

for keys,values in car.items():
    print(keys,values)

color red
mileage 20
horsepower 350

## Nesting

In [33]:
car1 = {'color' : 'red',
      'speed' : 400,
      'mileage': 20
    }
        
car2 = {'color' : 'blue',
      'speed' : 300,
      'mileage': 18
    }
        
car3 = {'color' : 'white',
      'speed' : 250,
      'mileage': 10
    }

In [34]:
#List of dictionaries

cars = [car1,car2,car3]

In [37]:
cars

[{'color': 'red', 'speed': 400, 'mileage': 20},
 {'color': 'blue', 'speed': 300, 'mileage': 18},
 {'color': 'white', 'speed': 250, 'mileage': 10}]

In [38]:
#A list inside a dictionary
car = {'color' : 'red',
      'speed' : 400,
      'mileage': 20,
      'safetyfeatures' : ['abs', 'cl','airbags'],
      }

In [39]:
car['safetyfeatures']

['abs', 'cl', 'airbags']

In [40]:
#Dictionary inside a dictionary

users = {'user1':{'name':'sameer','age':29,'location':"India"},
         'user2':{'name':'max','age':39,'location':"US"},
    }

In [41]:
users

{'user1': {'name': 'sameer', 'age': 29, 'location': 'India'},
 'user2': {'name': 'max', 'age': 39, 'location': 'US'}}

In [47]:
for username, userinfo in users.items():
    print(username)
    print('Name: ' + userinfo['name'])
    print('Age: ' + str(userinfo['age']) )
    print('Location: ' + userinfo['location'] +'\n' )

user1
Name: sameer
Age: 29
Location: India

user2
Name: max
Age: 39
Location: US

## Sets

In [52]:
numbers = [1,2,3,40,40]

In [53]:
numbers = list(set(numbers))

In [55]:
numbers.sort()

In [56]:
numbers

[1, 2, 3, 40]

In [57]:
num = set()

In [74]:
num.add(11) #duplicate element

In [75]:
num

{2, 5, 10, 11}

## Boolean

In [76]:
True

True

In [79]:
False

False

In [81]:
6 > 5

True

In [84]:
a = 5
b = 5

In [85]:
a == b #Equality operator

True

In [107]:
numbers = [1,2,3,40,40,0]

In [108]:
all(numbers)

False

In [98]:
letters = ['a','b','c','']

In [99]:
all(letters)

False

In [112]:
bool('')

False

## None Type

In [115]:
variable = None

In [116]:
type(variable)

NoneType

In [121]:
type(print())

NoneType

In [122]:
print("hello")

hello

In [119]:
Out

{2: {'color': 'red', 'speed': 400, 'mileage': 20, 'horsepower': 350},
 4: 'red',
 5: 400,
 6: 400,
 8: {'color': 'red', 'speed': 400, 'mileage': 20, 'horsepower': 350},
 10: {},
 12: {'color': 'red', 'horsepower': 350},
 14: {'color': 'red', 'horsepower': 350},
 16: {'color': 'red', 'horsepower': 350},
 17: {'color': 'red', 'horsepower': 350},
 19: {'color': 'red', 'horsepower': 350},
 20: 350,
 24: 400,
 25: {'color': 'red', 'mileage': 20, 'horsepower': 350},
 27: dict_values(['red', 20, 350]),
 29: dict_items([('color', 'red'), ('mileage', 20), ('horsepower', 350)]),
 35: [{'color': 'red', 'speed': 400, 'mileage': 20},
  {'color': 'blue', 'speed': 300, 'mileage': 18},
  {'color': 'white', 'speed': 250, 'mileage': 10}],
 36: {'color': 'red', 'speed': 400, 'mileage': 20},
 37: [{'color': 'red', 'speed': 400, 'mileage': 20},
  {'color': 'blue', 'speed': 300, 'mileage': 18},
  {'color': 'white', 'speed': 250, 'mileage': 10}],
 39: ['abs', 'cl', 'airbags'],
 41: {'user1': {'name': 'sameer', 'age': 29, 'location': 'India'},
  'user2': {'name': 'max', 'age': 39, 'location': 'US'}},
 49: {1, 2, 3, 40},
 51: {1, 2, 3, 40},
 54: [1, 2, 3, 40],
 56: [1, 2, 3, 40],
 58: set,
 59: {2, 5, 10, 11},
 61: {2, 5, 10, 11},
 63: {2, 5, 10, 11},
 65: {2, 5, 10, 11},
 67: {2, 5, 10, 11},
 69: {2, 5, 10, 11},
 71: {2, 5, 10, 11},
 73: {2, 5, 10, 11},
 75: {2, 5, 10, 11},
 76: True,
 77: False,
 78: bool,
 79: False,
 80: False,
 81: True,
 83: False,
 85: True,
 87: True,
 89: False,
 92: False,
 93: True,
 95: False,
 97: True,
 99: False,
 101: True,
 102: False,
 103: True,
 104: False,
 106: True,
 108: False,
 109: False,
 110: True,
 111: True,
 112: False,
 116: NoneType,
 117: NoneType,
 118: ['',
  "#Creating a dictionary\n\ncar ={'color' : 'red',\n      'speed' : 400,\n      'mileage': 20\n    }",
  'car',
  'car[0]',
  "car['color']",
  "car['speed']",
  "#Accessing elements of a dictionary\n\ncar['speed']",
  "car['horsepower'] = 350",
  'car',
  '#Empty dictionary\ncar = {}',
  'car',
  "#Creating a dictionary\n\ncar ={'color' : 'red',\n      'speed' : 400,\n      'mileage': 20\n    }",
  'car',
  "car['horsepower'] = 350",
  'car',
  "car['speed'] = 350",
  'car',
  'car',
  "del car['mileage']",
  'car',
  "car.pop('speed')",
  "#Creating a dictionary\n\ncar ={'color' : 'red',\n      'speed' : 400,\n      'mileage': 20\n    }",
  "car['horsepower'] = 350",
  "speed = car.pop('speed')",
  'speed',
  'car',
  'for key in car:\n    print(key)',
  '#values\n\ncar.values()',
  '#values\n\nfor values in car.values():\n    print(values)',
  '#print keys and values\n\ncar.items()',
  '#print keys and values\n\nfor keys in car.items():\n    print(keys)',
  '#print keys and values\n\nfor v in car.items():\n    print(v)',
  '#print keys and values\n\nfor keys,values in car.items():\n    print(keys,values)',
  "car1 = {'color' : 'red',\n      'speed' : 400,\n      'mileage': 20\n    }\n        \ncar2 = {'color' : 'blue',\n      'speed' : 300,\n      'mileage': 18\n    }\n        \ncar3 = {'color' : 'white',\n      'speed' : 250,\n      'mileage': 10\n    }",
  '#List of dictionaries\n\ncars = [car1,car2,car3]',
  'cars',
  'cars[0]',
  'cars',
  "car = {'color' : 'red',\n      'speed' : 400,\n      'mileage': 20,\n      'safetyfeatures' : ['abs', 'cl','airbags'],\n      }",
  "car['safetyfeatures']",
  '#Dictionary inside a dictionary\n\nusers = {\'user1\':{\'name\':\'sameer\',\'age\':29,\'location\':"India"},\n         \'user2\':{\'name\':\'max\',\'age\':39,\'location\':"US"},\n    }',
  'users',
  'for username, userinfo in users.items():\n    print(username)\n    ',
  "for username, userinfo in users.items():\n    print(username)\n    print('Name' + userinfo['name'] )\n    ",
  "for username, userinfo in users.items():\n    print(username)\n    print('Name: ' + userinfo['name'] +'\\n' )\n    ",
  "for username, userinfo in users.items():\n    print(username)\n    print('Name: ' + userinfo['name'] +'\\n' )\n    print('Age: ' + userinfo['age'] +'\\n' )\n    print('Location: ' + userinfo['location'] +'\\n' )\n    ",
  "for username, userinfo in users.items():\n    print(username)\n    print('Name: ' + userinfo['name'] +'\\n' )\n    print('Age: ' + str(userinfo['age']) +'\\n' )\n    print('Location: ' + userinfo['location'] +'\\n' )\n    ",
  "for username, userinfo in users.items():\n    print(username)\n    print('Name: ' + userinfo['name'])\n    print('Age: ' + str(userinfo['age']) )\n    print('Location: ' + userinfo['location'] +'\\n' )\n    ",
  'numbers = [1,2,3,40,40]',
  'set(numbers)',
  'numbers = set(numbers)',
  'numbers',
  'numbers = [1,2,3,40,40]',
  'numbers = list(set(numbers))',
  'numbers',
  'numbers.sort()',
  'numbers',
  'num = set()',
  'type(num)',
  'num',
  'num.add(2)',
  'num',
  'num.add(5)',
  'num',
  'num.add(10)',
  'num',
  'num.add(10) #duplicate element',
  'num',
  'num.add(10) #duplicate element',
  'num',
  'num.add(10) #duplicate element',
  'num',
  'num.add(11) #duplicate element',
  'num',
  'num.add(11) #duplicate element',
  'num',
  'True',
  'False',
  'type(False)',
  'False',
  '4 > 5',
  '6 > 5',
  'a = 5\nb = 6',
  'a == b #Equality operator',
  'a = 5\nb = 5',
  'a == b #Equality operator',
  'numbers = [1,2,3,40,40]',
  'all(numbers)',
  'numbers = [1,2,3,40,40,0]',
  'all(numbers)',
  "letters = ['a','b','c']",
  "letters = ['a','b','c']",
  'all(numbers)',
  'all(letters)',
  "letters = ['a','b','c','']",
  'all(letters)',
  "letters = ['a','b','c',' ']",
  'all(letters)',
  "letters = ['a','b','c','']",
  'all(letters)',
  'numbers = [1,2,3,40,40]',
  'bool(1)',
  'bool(0)',
  'bool(-1)',
  'bool(0)',
  'numbers = [1,2,3,40,40]',
  'all(numbers)',
  'numbers = [1,2,3,40,40,0]',
  'all(numbers)',
  "bool('')",
  "bool('a')",
  "bool(' ')",
  "bool('')",
  'variable',
  'variable = None',
  'variable = None',
  'type(variable)',
  'type(print())',
  'In',
  'Out']}

## User Inputs

In [127]:
#input() function

name = input("Enter your name: ")
print(f"Hi {name.title()}")

Enter your name: sameer
Hi Sameer

In [124]:
name

'sameer'

In [131]:
#Writing a clear prompt

prompt = '''Tell me your age and I'll tell your if you are eligible to vote\n
              What is your age?: '''

age = input(prompt)

Tell me your age and I'll tell your if you are eligible to vote

              What is your age?: 20

In [135]:
age = int(age)

In [137]:
type(age)

int

In [138]:
prompt = '''Tell me your age and I'll tell your if you are eligible to vote\n
              What is your age?: '''

age = int(input(prompt))

Tell me your age and I'll tell your if you are eligible to vote

              What is your age?: 20

In [140]:
type(age)

int

In [147]:
prompt = '''Tell me a number and I'll tell you if it is even or odd\n
              What is the number?: '''

number = int(input(prompt))

Tell me a number and I'll tell you if it is even or odd

              What is the number?: 33

In [148]:
if number % 2 == 0:   #Modulo operator
    print(f"{number} is even")
else:
    print(f"{number} is odd")

33 is odd