# First Program
## Heading 2
### Heading 3
#### Heading 4

This is my first program **Hello World**

<font color=blue>First Program</font>

- Bullet point

In [ ]:
print("Hello World")

In [7]:
print("Hello")

Hello

In [11]:
#addition
5 + 10

15

In [12]:
#subtract
10 - 5

5

In [13]:
#product

10 * 5

50

In [16]:
#division

10 / 5

2.0

In [17]:
#Integer division
20 // 5

4

In [18]:
#Modulus
10 % 3

1

In [19]:
10 + 6 * 3 - 4 #BODMAS

24

In [20]:
(10 +6) * 3 - 4

44

In [22]:
number_one = 10 #snake casing

In [23]:
print = 5

In [1]:
print("Hello World")

Hello World

In [7]:
num = 5

In [10]:
num = float(num)

In [11]:
type(num)

float

In [13]:
num

5.0

In [15]:
num = int(num)

In [16]:
type(num)

int

In [17]:
num

5

In [18]:
complex(num)

(5+0j)

In [19]:
num

5

In [21]:
num = float(num)

In [22]:
num

5.0

In [23]:
complex(num)

(5+0j)

In [36]:
name = 'sameer'

In [37]:
type(name)

str

In [34]:
message = '''He said,"He's going to the office
            I said "I am going to my home"''' #multiline strings

In [35]:
print(message)

He said,"He's going to the office
            I said "I am going to my home"

In [39]:
fullname = 'sameer kumar'

In [44]:
#Title casing
fullname = fullname.title()

In [45]:
fullname

'Sameer Kumar'

In [46]:
firstname = "sameer"

In [49]:
#Capitalize
firstname = firstname.capitalize()

In [50]:
fullname

'Sameer Kumar'

In [52]:
#Upper case
fullname = fullname.upper()

In [54]:
#Lower case
fullname = fullname.lower()

In [57]:
firstname = 'sameer'
lastname = 'kumar'

#Concatenation
fullname = firstname + " " + lastname

In [58]:
fullname

'sameer kumar'

In [61]:
#repetition
letter = 'a'

letter = letter * 4

In [84]:
#Tabs and Spaces

message = "Favorite  Languages:\n\tPython\n\tJava\n\tJavascript" #newline character

In [85]:
print(message)

Favorite  Languages:
	Python
	Java
	Javascript

In [86]:
name = "sameer kumar"

In [92]:
#Indexing
name[6]

' '

In [96]:
#Slicing
name[0:6:2]

'sme'

In [99]:
#Reverse
name[::-1]

'ramuk reemas'

In [100]:
str1 = "lag"

In [103]:
"b" + str1[1:]

'bag'

In [106]:
#String Formatting
age = 29
name = "Sameer"

print('My age is ' + str(age) + " My name is " + name)

My age is 29 My name is Sameer

In [109]:
#Format

print("My age is {} My name is {}".format(age,name))

My age is 29 My name is Sameer

In [110]:
#f-strings
print(f"My age is {age} My name is {name}")

My age is 29 My name is Sameer

# Lists

In [111]:
cars = ['maruti', 'hyundai', 'tata' ,'renault']

In [112]:
cars

['maruti', 'hyundai', 'tata', 'renault']

## Accessing elements from a list

In [114]:
#Indexing
sold_car = cars[1]

In [115]:
sold_car

'hyundai'

In [116]:
#Slicing

sold_cars = cars[1:3]

In [117]:
sold_cars

['hyundai', 'tata']

In [118]:
#last element
cars[-1]

'renault'

In [119]:
#last 3 elements
cars[-3:]

['hyundai', 'tata', 'renault']

## Modifying elements of a List

In [120]:
cars

['maruti', 'hyundai', 'tata', 'renault']

In [121]:
cars[3] = 'mercedes' #mutability

In [124]:
cars

['maruti', 'hyundai', 'tata', 'mercedes']

## Adding new elements to a list

In [125]:
#append method
cars.append('renault')

In [126]:
cars

['maruti', 'hyundai', 'tata', 'mercedes', 'renault']

In [127]:
#insert method
cars.insert(1,'audi')

In [128]:
cars

['maruti', 'audi', 'hyundai', 'tata', 'mercedes', 'renault']

## Removing elements from a List

In [129]:
# del keyword

del cars[1]

In [130]:
cars

['maruti', 'hyundai', 'tata', 'mercedes', 'renault']

In [151]:
cars = ['maruti', 'audi', 'hyundai','hyundai' ,'tata', 'mercedes', 'renault']

In [140]:
#pop method
sold_cars = cars.pop(3)

In [141]:
sold_cars

'tata'

In [148]:
#remove method
cars.remove('hyundai')

In [149]:
cars

['maruti', 'audi', 'tata', 'mercedes', 'renault']

## Organising a list

In [153]:
#sort()
cars.sort()

In [163]:
cars = ['maruti', 'audi', 'hyundai','hyundai' ,'tata', 'mercedes', 'renault']

In [161]:
cars.sort(reverse=True)  #ASCII A= 065 a = 097

In [162]:
cars

['tata', 'renault', 'mercedes', 'maruti', 'hyundai', 'hyundai', 'audi']

In [166]:
#temporary sort

sorted(cars, reverse = True)

['tata', 'renault', 'mercedes', 'maruti', 'hyundai', 'hyundai', 'audi']

## Reversing a list

In [168]:
cars

['maruti', 'audi', 'hyundai', 'hyundai', 'tata', 'mercedes', 'renault']

In [169]:
cars.reverse()

In [170]:
cars

['renault', 'mercedes', 'tata', 'hyundai', 'hyundai', 'audi', 'maruti']

## Find the length of a list

In [172]:
len(cars)

7

In [175]:
cars[-1]

'maruti'

## Looping through a list

In [189]:
for c in cars: #colon
    print(c) #Indentation #PEP8

print("\nThese cars are in stock")

renault
mercedes
tata
hyundai
hyundai
audi
maruti

These cars are in stock

In [187]:
message = 'Hi'
print(message)

Hi

In [190]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Making numerical lists

In [197]:
#range()

list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [200]:
squares = []

for value in range(1,10): #Exponents (**)
    squares.append(value ** 2)

In [201]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## Simple Statistics on a list

In [202]:
min(squares)

1

In [203]:
max(squares)

81

In [204]:
sum(squares)

285

## List comprehensions

In [206]:
squares = []

for value in range(1,10): #Exponents (**)
    squares.append(value ** 2)

In [215]:
cubes = [value ** 3 for value in range(1,10)] #no colon

In [208]:
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729]

## Copying a list

In [210]:
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [211]:
cubes2 = cubes

In [212]:
cubes2

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [213]:
cubes2.pop()

729

In [214]:
cubes

[1, 8, 27, 64, 125, 216, 343, 512]

In [216]:
#Slicing
cubes2 = cubes[:]

In [217]:
cubes2

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [218]:
cubes2.pop()

729

In [220]:
cubes2

[1, 8, 27, 64, 125, 216, 343, 512]

In [219]:
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [221]:
#copy method

cubes3 = cubes.copy()

In [222]:
cubes3

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [223]:
cubes3.pop()

729

In [225]:
cubes3

[1, 8, 27, 64, 125, 216, 343, 512]

In [224]:
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729]

# Tuples

In [231]:
rectangle = (50,60)

In [227]:
#Loop through a tuple
for dimension in rectangle:
    print(dimension)

50
60

In [232]:
#Item assignment
rectangle[0] = 60

TypeError: 'tuple' object does not support item assignment

In [233]:
#Writing over a tuple
rectangle = (60,40)

## Tuple Unpacking

In [234]:
rectangle = (50,60)

In [235]:
length , breadth,  = rectangle

In [236]:
length

50

In [237]:
breadth

60

In [ ]:
## Stryling of the code in Python(PEP8)

#1.Indentation - 4 spaces
#2.Line length - 80 characters
#3.Comments - 72 characters or 99 characters