## Arithmetic Operators

In [2]:
5 + 5

10

In [3]:
10 - 5

5

In [4]:
10 * 5

50

In [5]:
10 / 5

2.0

In [6]:
10 // 5

2

In [8]:
11 % 5

1

In [9]:
5 ** 5

3125

In [14]:
#Relational operators

a = 10
b = 10


a < b

False

In [12]:
a != b #not equal to

True

In [15]:
a <= b

True

In [16]:
#Assignment operators

age = 10

In [17]:
age = age + 10

In [18]:
age

20

In [19]:
age += 10 #add and asign operator

In [20]:
age

30

In [21]:
age -= 10 #Subtract and assign

In [22]:
age

20

In [23]:
age *= 3 #multiply and assign

In [29]:
age = 60

In [30]:
age //= 3 #floor division and assign

In [31]:
age

20

In [35]:
#Logical Operators

#and 
0 and 1

0

In [37]:
bool(1)

True

In [34]:
False and True

False

In [38]:
1 > 3 and 5 < 6

False

In [39]:
#or operator

0 or 1

1

In [41]:
False or True

True

In [43]:
#not operator
not True

False

In [44]:
not 1 > 3

True

In [45]:
# Membership operators

list1 = [1,2,3,4,5]

In [47]:
#in

6 in list1

False

In [49]:
# not in

7 not in list1

True

In [96]:
#Identity operators

a = 5
b = 5

for a in range(1,10):
    print(a)

1
2
3
4
5
6
7
8
9

In [53]:
#is
a is b

True

In [57]:
list1 = [1,2,3,4]

In [58]:
list2 = list1[:]

In [62]:
#is not
list2 is not list1

True

In [68]:
# Bitwise operators
 
#  32 16 8 4 2 1
#  a =   1 0 0 1
#  b =   1 0 1 0
#a & b = 1 0 0 0

16

In [76]:
a = 9

b = 10

In [78]:
a & b

8

In [79]:
a and b

10

In [70]:
bin(a)

'0b1001'

In [71]:
a = 0b1001 #binary numbers

In [72]:
a

9

In [73]:
hex(15)

'0xf'

In [ ]:
#1-9 A B C D E F

In [75]:
oct(9)

'0o11'

In [80]:
# Bitwise or

#  32 16 8 4 2 1
#  a =   1 0 0 1
#  b =   1 0 1 0
#a | b = 1 0 1 1

In [81]:
a = 9
b = 10

In [82]:
a | b

11

In [84]:
# Bitwise XOR

#  32 16 8 4 2 1
#  a =   1 0 0 1
#  b =   1 0 1 0
#a ^ b = 0 0 1 1

In [87]:
a = 9
b = 10

In [88]:
a ^ b

3

In [89]:
# Binary shift

a = 9

In [90]:
#  32 16 8 4 2 1
#  a =   1 0 0 1
      1  0 0 1 0 
         0 1  0 0

In [91]:
a << 1 #binary left shift

18

In [92]:
a >> 1 #binary right shift

4

In [93]:
# compliments

a = 9 # 1 0 0 1
      # 0 1 1 0 #1's compliment
    
~a #-(x+1)

-10

In [94]:
a = 50

In [95]:
~a

-51

## Conditional statements

In [98]:
cars = ['hyundai', 'maruti', 'renault', 'tata']

In [100]:
'tata' in cars #Conditional test

True

In [108]:
car1 = 'Tata'
car2 = 'bmw'

In [109]:
car1 == car2 #Equality test

False

In [103]:
car1 = 'Tata'

In [105]:
car1.lower() in cars #Case sensitive

True

In [110]:
car1 != car2 #Inequality

True

In [111]:
#Multiple conditional tests

"tata" and 'maruti' in cars

True

In [116]:
car1 = 'tata'
car2 = 'bmw'

In [120]:
(car1 or car2) not in cars

False

In [119]:
cars

['hyundai', 'maruti', 'renault', 'tata']

In [121]:
#Boolean expressions are another name for conditional tests

## Simple if statememnt

In [123]:
cars

['hyundai', 'maruti', 'renault', 'tata']

In [128]:
car = 'bmw'

if car in cars:
    print(f'{car.title()} is in stock')

print("These cars are in stock")

These cars are in stock

In [131]:
# If else

car = 'bmw'

if car in cars:
    print(f'{car.title()} is in stock')
else:
    print(f'{car.title()} is not in stock')

Bmw is not in stock

In [139]:
#If elif else chain

age = int(input("Enter your age: "))

Enter your age: 65

In [140]:
age

65

In [137]:
if age < 10:
    print("Your ticket price is 50")
elif age < 25:
    print("Your ticket price is 150")
else:
    print("Your ticket price is 200")

Your ticket price is 50

In [141]:
#if elif (ommiting else)
if age < 10:
    print("Your ticket price is 50")
elif age < 25:
    print("Your ticket price is 150")
elif age > 60:
    print("Your ticket price is 50")

Your ticket price is 50

In [142]:
cars

['hyundai', 'maruti', 'renault', 'tata']

In [143]:
car1 = 'tata'
car2 = 'maruti'

In [144]:
if (car1 and car2) in cars:
    print(f"{car1} and {car2} are in stock")

tata and maruti are in stock

In [146]:
#Multiple conditions(multiple if)
if car1 in cars:
    print(f"{car1} is in stock")
if car2 in cars:
    print(f"{car2} is in stock")

tata is in stock
maruti is in stock

## IF statements with lists

In [152]:
items_stock = ['laptop', 'mouse', 'keyboard', 'monitor','speakers']

In [153]:
orders = ['laptop', 'mouse', 'pendrive']

In [154]:
cart = []

for item in orders:
    if item in items_stock:
        print(f'{item.title()} has been added to the cart')
        cart.append(item)
    else:
        print(f'{item.title()} is out of stock')

Laptop has been added to the cart
Mouse has been added to the cart
Pendrive is out of stock

In [155]:
cart

['laptop', 'mouse']

In [158]:
#Empty lists

list1 = []
bool(list1)

False

In [160]:
items_stock

['laptop', 'mouse', 'keyboard', 'monitor', 'speakers']

In [163]:
orders = ['laptop', 'mouse']

In [168]:
cart = []

if orders: #Only runs when True
    for item in orders:
        if item in items_stock:
            print(f'{item.title()} has been added to the cart')
            cart.append(item)
        else:
            print(f'{item.title()} is out of stock')
            
    print("\nThe items in the cart are:")
    for item in cart:
        print(item)
else:
    print("Are you sure you dont want anything?")

Laptop has been added to the cart
Mouse has been added to the cart

The items in the cart are:
laptop
mouse

In [169]:
cart

['laptop', 'mouse']

In [ ]:
# Styling the if statments

#1. give space around operators